*{
    margin: 0;
    padding: 0;
}

.nav{
    margin-top: 15px;
    width: 100%;
}
.nav-bar .btn{

    transition: all  .5s;
   
}
.nav-bar .btn:hover{
    transform: scale(1.03);
    background-color: rgb(5, 87, 5);
    color: white;
}
.icon-section {
    display: flex;
    justify-content: space-between ;
    
}
.icon-section .fa{
    font-size:30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    margin-right: 40px;
}

.icon-section .fa:nth-last-of-type(1){
    margin-right: 3px;
}
.nav {
    display: flex;
    justify-content: space-between;
}

/* ---------background-section-------- */
#background-sec{
    padding: 20x auto 30xp;
    width: 100%;
    height: 70vh;
    background-image: url(../images/background-head.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.background-sec{
    width: 100%;
  
}

#background-sec .background-sec p{
    color: #ff6768;
    text-align: center;
   padding-top:10%;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Dela Gothic One', cursive;
    text-transform: capitalize;
}

/* .product{
    display: grid;
    grid-template-columns: 20% 40% 20% 20% ;
    grid-template-rows: 20% 80%;
} */
.dokme{
    margin: 40px;
    height: 30px;
    width: 30px;
    background-color: rgb(9, 190, 9);
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    transition: all .5s;
}
.dokme:hover{
    border-radius: 5px;
    width: 100px;
}
.dokme .fa{
    flex-basis: 60%;
    color: #fff;
    font-size: 20px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
}
.dokme .matn{
flex-basis: 40%;
color: white;
transition: all .5s 1s;
text-overflow: clip;
word-wrap: normal;
overflow: hidden;
font-size: 18px;

}